<div class="page-header">
	<h1>Edit User</h1>
</div>

<form class="form-horizontal" ng-submit="updateUserForm.$valid && user.saveUser()" name="updateUserForm" novalidate>
	<div class="form-group">
		<label class="col-sm-2 control-label">Picture</label>
		<div class="col-sm-6" style="padding-top: 7px;">
      <span ng-if="!user.userData.picture.url">
        No picture selected
      </span>
      <div ng-if="user.userData.picture.url">
        <img ng-src="{{ user.userData.picture.url }}" width="100" />
      </div>
		</div>
	</div>
  <file-upload
      alias="picture"
      form-data="user.userData"
      uploader="user.uploader">
  </file-upload>

	<div class="form-group">
		<label class="col-sm-2 control-label">Password</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" name="currentPassword" ng-model="user.userData.password" ng-required="user.userData.new_password">
			<div ng-show="updateUserForm.$submitted" ng-messages="updateUserForm.currentPassword.$error" ng-messages-include="/app/views/shared/formMessages.html"></div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">New Password</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" name="newPassword" ng-model="user.userData.new_password" ng-minlength="8" ng-required="user.userData.password">
			<div ng-show="updateUserForm.$submitted" ng-messages="updateUserForm.newPassword.$error" ng-messages-include="/app/views/shared/formMessages.html"></div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">First Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="firstname" ng-model="user.userData.firstname" required>
			<div ng-show="updateUserForm.$submitted" ng-messages="updateUserForm.firstname.$error" ng-messages-include="/app/views/shared/formMessages.html"></div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Last Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="lastname" ng-model="user.userData.lastname" required>
			<div ng-show="updateUserForm.$submitted" ng-messages="updateUserForm.lastname.$error" ng-messages-include="/app/views/shared/formMessages.html"></div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="user.processing">Save</button>
		</div>
	</div>
</form>
