<div class="form-group">
  <label class="col-sm-2 control-label">&nbsp;</label>
  <div class="col-sm-6">
    <div class="file-preview">
      <div class="file-drop-zone" nv-file-over uploader="uploader" ng-show="uploader.isHTML5">
        <div class="file-drop-zone-title">
          <strong><label for="build_selector" class="btn btn-primary">Choose file</label></strong>
        </div>
      </div>
    </div>

    <input type="file" nv-file-select uploader="uploader" multiple style="display:none" id="build_selector" />

    <div ng-show="uploader.queue.length">
      <table class="table">
        <tbody>
          <tr ng-repeat="item in uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="uploader.isUploading">
      <progressbar value="uploader.progress" type="success"><b>{{uploader.progress}}%</b></progressbar>
    </div>
  </div>
</div>
